requests==2.32.5
GitPython==3.1.41
langchain==1.2.8
langchain-aws==1.2.5
langchain-openai==1.0.3
langgraph==1.0.7
langchain-community==0.4.1
# langgraph_checkpoint==4.0.0
# langsmith==0.7.5
langchain-core==1.2.14
pydantic
boto3
openai==1.109.1
black==23.1.0
werkzeug==0.16.0
